$default-font-family: "Noto Sans JP", sans-serif;

$font-light: 300;
$font-normal: 400;
$font-heavy: 900;

$bold: $font-heavy;

$black: #333;

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.bold {
  font-weight: $font-heavy;
}

input {
  &[type="text"],
  &[type="password"],
  &[type="email"] {
    @extend html;

    padding: 0.5em;
    margin: 6px;
    border: 1px solid $black;
    width: 400px;
    max-width: 100%;
    height: 2.5em;

    &:focus {
      border-width: 2px;
    }
  }
}

textarea {
  @extend input[type="text"];

  height: 5em;
  resize: none;
}

input[type="button"],
button,
a.button {
  font-family: $default-font-family;
  font-size: 1rem;
  border: 1px solid $black;
  background-color: white;
  padding: 0.5em;
  margin: 6px;
  font-weight: $font-heavy;

  &:hover,
  &:focus {
    background-color: $black;
    color: white;
    cursor: pointer;
  }
}

.field {
  margin: 12px 0;

  label {
    display: block;
    font-weight: $bold;
  }
}
